In [1]:
import numpy as np

In [2]:
import ipynb.fs.full.pmx as pmx
import ipynb.fs.full.utils as utils
import ipynb.fs.full.ga as ga

### LOAD CSV

In [3]:
dataframe = utils.load_csv('distance_table.csv')

In [4]:
dataframe.head(5)

,helsinki,espoo,tampere,vantaa,oulu,turku,kotka,lahti,kuopio,pori,kouvola,joensuu,lappeenranta,mikkeli,vaasa
helsinki,0,16,160,15,539,150,114,99,336,225,124,373,203,211,370
espoo,16,0,151,24,536,134,128,103,339,211,134,381,215,217,359
tampere,160,151,0,150,400,142,204,116,254,106,171,335,240,186,210
vantaa,15,24,150,0,525,153,105,84,321,220,111,359,191,196,360
oulu,539,536,400,525,0,533,511,448,259,433,465,341,460,380,284

### CONVERT DF TO MATRIX

In [5]:
matrix = utils.to_matrix(dataframe)

In [6]:
matrix

array([[  0,  16, 160,  15, 539, 150, 114,  99, 336, 225, 124, 373, 203,
        211, 370],
       [ 16,   0, 151,  24, 536, 134, 128, 103, 339, 211, 134, 381, 215,
        217, 359],
       [160, 151,   0, 150, 400, 142, 204, 116, 254, 106, 171, 335, 240,
        186, 210],
       [ 15,  24, 150,   0, 525, 153, 105,  84, 321, 220, 111, 359, 191,
        196, 360],
       [539, 536, 400, 525,   0, 533, 511, 448, 259, 433, 465, 341, 460,
        380, 284],
       [150, 134, 142, 153, 533,   0, 255, 194, 394, 118, 246, 463, 328,
        302, 296],
       [114, 128, 204, 105, 511, 255,   0,  89, 273, 299,  46, 281,  95,
        137, 404],
       [ 99, 103, 116,  84, 448, 194,  89,   0, 237, 215,  58, 281, 136,
        116, 316],
       [336, 339, 254, 321, 259, 394, 273, 237,   0, 343, 231, 111, 206,
        135, 307],
       [225, 211, 106, 220, 433, 118, 299, 215, 343,   0, 272, 434, 345,
        291, 180],
       [124, 134, 171, 111, 465, 246,  46,  58, 231, 272,   0, 251,  83,
         96, 363],
       [373, 381, 335, 359, 341, 463, 281, 281, 111, 434, 251,   0, 190,
        164, 417],
       [203, 215, 240, 191, 460, 328,  95, 136, 206, 345,  83, 190,   0,
         85, 410],
       [211, 217, 186, 196, 380, 302, 137, 116, 135, 291,  96, 164,  85,
          0, 331],
       [370, 359, 210, 360, 284, 296, 404, 316, 307, 180, 363, 417, 410,
        331,   0]], dtype=int64)